<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <span v-bind:title="message">sss</span> {{ message }}
    </div>
    <div id="app2" v-if="seen">
        显示
    </div>
    <ul id="todo">
        <li v-for="item in list">{{item.name}}:{{item.text}}</li>
    </ul>
    <div id="app3">
        <div>{{message}}</div>
        <button v-on:click="reverse">逆转</button>
    </div>
    <div id="app4">
        <div>{{message}}</div>
        <input type="text" v-model="message">
    </div>
    <ol id="app5">
        <!-- 完整语法 -->
        <a v-bind:href="url">{{url}}</a>
        <!-- 缩写 -->
        <a :href="url">{{url}}</a>
        <!--v-on完整写法-->
        <a v-on:click="alert(1)">click</a>
        <!--缩写-->
        <a @click="alert(2)">click</a>
        <div v-bind:id="rawId | formateId"></div>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</body>

</html>